$color-highlight: rgba(0, 190, 241, 1);
$color-primary: rgba(7, 23, 63, 1);

$color-text-primary: rgba(255, 255, 255, 1);
$color-text-secondary: rgb(141, 145, 158);

$color-button-gradient: linear-gradient(
  100deg,
  rgba(53, 109, 245, 1) 0%,
  rgba(16, 181, 252, 1) 100%
);
