@use '../../sass/abstracts/' as *;

.button {
  display: inline-block;
  font-size: $font-size-medium;
  color: $color-text-primary;
  background: $color-button-gradient;
  border-radius: 20px;
  padding: 12px 35px;
  border: 1px solid $color-primary;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background: #00bef1;
    border: 1px solid $color-highlight;
  }

  &--square {
    border-radius: 5px;

    letter-spacing: 1px;
  }

  &--transparent {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    border: unset;
  }

  &--transparent-icon {
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 15px;

    &.button:hover {
      background: transparent;
      border: 1px solid $color-highlight;
      color: $color-highlight;
    }
  }

  &__icon {
    width: 30px !important;
    height: 30px;
    display: block;
  }
}
