@use '../../sass/abstracts/' as *;

$bar-gap: 6px;
$bar-height: 8px;
$hamburger-width: calc((#{$bar-height} * 3 + #{$bar-gap} * 2) * 1.414);

.header {
  height: 100px;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  font-family: $font-family;
  font-size: $font-size-medium;
  color: $color-text-primary;

  @include for-tablet() {
    display: none;
  }

  &--visible {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  &__list {
    display: flex;
    flex-direction: row;
    height: 1.3em;

    &-item {
      position: relative;
      margin-left: 1.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    white-space: nowrap;
    color: $color-text-primary;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $color-highlight;
    }

    &::after {
      content: '';
      width: 80%;
      height: 2px;
      border-radius: 20%;
      background-color: $color-highlight;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__label {
    display: none;
    flex-direction: column;
    gap: $bar-gap;
    width: max-content;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    @include for-tablet() {
      display: flex;
    }

    &::after,
    &::before,
    & .navigation__input {
      content: '';
      width: 60px;
      height: $bar-height;
      background: black;
      border-radius: 100px;
      transform-origin: left center;
      transition:
        opacity 300ms ease-in-out,
        width 300ms ease-in-out,
        translate 300ms ease-in-out,
        rotate 300ms ease-in-out;
    }

    &:has(.navigation__input:checked)::before {
      rotate: 45deg;
      width: $hamburger-width;
      translate: 0 calc(#{$bar-height} / -2);
    }

    &:has(.navigation__input:checked)::after {
      rotate: -45deg;
      width: $hamburger-width;
      translate: 0 calc(#{$bar-height} / 2);
    }
  }

  &__input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;

    &:checked {
      opacity: 0;
      width: 0;
    }
  }
}
