@use '../../../src/sass/abstracts/' as *;

.footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: $font-family;
    max-width: 1200px;

    @include for-tablet() {
            width: 600px;
        }

    @include for-phone() {
            width: 310px;
        }

    &__box {
        display: flex;
        width: 100%;

        @include for-tablet() {
            display: flex;
            flex-direction: column;
        }
        @include for-desktop() {
            display: flex;
        }
    }

    &__articles {
        height: 150px;
        width: 880px;
        display: flex;
        justify-content: space-between;

        @include for-tablet() {
            width: 100%;
        }

        @include for-phone() {
            height: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }

        li {
            font-size: 12px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        a {
            text-decoration: none;
            color: white;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }

            &:active {
                pointer-events: none;
            }
        }

        h4 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        &--main {
            width: 320px;
            margin-right: 80px;

            @include for-tablet() {
                margin: auto;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @include for-phone() {
                margin: auto;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }


            & h4 {
                margin-bottom: 10px;
                font-size: 20px;

                @include for-phone() {
                    text-align: center;
                }
            }

            & p {
                opacity: 0.6;
                margin-bottom: 18px;
                font-size: 12px;
                line-height: 16px;

                @include for-tablet() {
                    text-align: center;
                }

                @include for-phone() {
                    text-align: center;
                }
            }

            & ul {
                display: flex;
            }

            & button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 20px;
                background-size: cover;
            }
        }
    }

    &__article {
        width: 150px;
        line-height: 1.2;

        @include for-phone() {
            width: 150px;
            margin-bottom: 20px;
            text-align: center;
        }

        & p {
            opacity: 0.6;
            margin-bottom: 12px;
            font-size: 12px;
        }
    }

    &__copyrights {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid lightgray;
        padding-top: 24px;
        padding-bottom: 20px;
        font-size: 12px;
        opacity: 0.6;

        @include for-phone() {
            flex-direction: column;
            line-height: 1.3;
            text-align: center;
        }
    }

    .social__media--facebook {
        background-color: $color-highlight;
        background-image: url('./facebook.jpg');
        border: none;
        cursor: pointer;
    }

    .social__media--twitter {
        background-color: $color-highlight;
        background-image: url('./twitter.jpg');
        border: none;
        cursor: pointer;
    }

    .social__media--instagram {
        background-color: $color-highlight;
        background-image: url('./instagram.jpg');
        border: none;
        cursor: pointer;
    }

    .social__media--linkedin {
        background-color: $color-highlight;
        background-image: url('./linkedin.jpg');
        border: none;
        cursor: pointer;
    }
}